h1 {font-size: 4em; font-family: "Times New Roman", "monospace"; color: darkblue;}
h2 {font-size: 3em; font-family: "Times New Roman", "monospace"; color: darkblue;}
h3 {font-size: 2em; font-family: "Times New Roman", "monospace"; color: darkblue;}
h4 {font-size: 1.5em; font-family: "Times New Roman", "monospace" ;color: darkblue;}
img {align-content: center; height: 50%; width: 50%;}
